.cr-yellow {
	background: #F3C043;
	color: white;
	font-weight: bold;
}
.cr-blue {
	background: #1CCACC;
	color: white;
	font-weight: bold;
}
.bg-white {
	background: white;
}

.mg0 {
	margin: 0;
}

.icon {
	font-size: 22px;
}

.icon-desc {
	font-size: 16px;
	font-weight: bold;
}

.iframe-page {
	left:4%;
	width:96%;
	height:100%;
	padding:0 0;
	margin:0 0;
	float:left;
	overflow:visible !important;
	position:fixed;
}

body {
	min-width:1000px;
	background-color:#f2f4f8;
}

.fright {
	float: right;
}
.fleft {
	float: left;
}

.option {
	height: 40px;
}

.panel-header {
	padding: 5px 20px;
	line-height: 32px;
	border-bottom: 1px solid #e2e2e2;
}
.panel-content {
	margin: 30px 30px 0px 30px;
}

.page-button {
	margin: 1px;
	background: white;
	border: 1px solid #e2e2e2;
}

.caption-border {
	background: #1CCACC;
	color: white;
	font-weight: bold;
	padding-left: 15px;
	padding-right: 15px;
	-moz-border-radius: 4px;
    -webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.page {
	margin-left: 160px;
}

.page a:hover,
.page a:active,
.page a:link,
.page a:visited {
	color:white;
}


/* modal */
.modal-create .title {
	margin: 0;
	padding: 15px;
	text-align: center;
	color: white;
	font-size: 26px;
	font-weight: bold;
	background: #3498DB;
	border-radius: 5px 5px 0 0;
}

.modal-create .body {
	margin: 0;
	padding: 30px;
	background: #fafafa;
	border-radius: 0 0 5px 5px;
}

.modal-delete .title {
	margin: 0;
	padding: 15px;
	text-align: center;
	color: white;
	font-size: 26px;
	font-weight: bold;
	background: #C9302C;
	border-radius: 5px 5px 0 0;
}

.modal-delete .body {
	margin: 0;
	padding: 30px;
	background: #fafafa;
	border-radius: 0 0 5px 5px;
}


/* 菜单栏 */
.navbar-vertical-left {
	position: fixed;
	left: 0;
	top:50px;
	height: 100%;
	width:160px;
	overflow: hidden;
	border: none;
	border-radius: 0;
	margin: 0;
	z-index: 3;
}

.navbar-vertical-left ul.navbar-nav {
	width: 100%;
	display: table;
	margin: 0;
}

.navbar-vertical-left ul.navbar-nav:before,
.navbar-vertical-left ul.navbar-nav:after {
	display: none;
}


.navbar-vertical-left ul.navbar-nav > li {
	display: table-row;
	float: none;
}

.navbar-vertical-left ul.navbar-nav > li > a {
	display: table-cell;
	vertical-align: middle;
}

.navbar-vertical-left ul.navbar-nav > li > a > i.fa {
	margin-right: 20px;
}

.navbar-vertical-left {
	background: black;
	color: #ecf0f1;
}

.navbar-vertical-left ul.navbar-nav > li > a {
	color: #ecf0f1;
	background:black;
}

.navbar-vertical-left ul.navbar-nav > li > a:hover,
.navbar-vertical-left ul.navbar-nav > li > a:active {
	background: #e67e22;
}

.navbar-vertical-left ul.navbar-nav > li > a.selected {
	background: #d35400;
}
