.fright {
	float: right;
}
.fleft {
	float: left;
}

.option {
	height: 40px;
}

.panel-header {
	padding: 5px 20px;
	line-height: 32px;
	border-bottom: 1px solid #e2e2e2;
}
.panel-content {
	margin: 30px 50px 0px 50px;
}

.page-button {
	margin: 1px;
	background: white;
	border: 1px solid #e2e2e2;
}

.caption-border {
	background: #1CCACC;
	color: white;
	font-weight: bold;
	padding-left: 15px;
	padding-right: 15px;
	-moz-border-radius: 4px;
    -webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.page a:hover,
.page a:active,
.page a:link,
.page a:visited {
	color:white;
}


/* modal */
.alarm-modal .title {
	margin: 0;
	padding: 15px;
	text-align: center;
	color: white;
	font-size: 26px;
	font-weight: bold;
	background: #3498DB;
	border-radius: 5px 5px 0 0;
}

.alarm-modal .body {
	margin: 0;
	padding: 30px;
	background: #fafafa;
	border-radius: 0 0 5px 5px;
}