<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>告警中心</title>

	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/base.css}"/>
	
	<script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
	<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
	<script th:src="@{/js/highcharts.js}" type="text/javascript"></script>
	<script th:src="@{/js/base.js}" type="text/javascript"></script>
	<script th:src="@{/js/home.js}" type="text/javascript"></script>
</head>
<body>

	<!-- 导航 -->
	<nav class="navbar navbar-default navbar-fixed-top mg0 bg-white" role="navigation">
		<div class="container-fluid">
			<!-- logo -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#personal-center">
					<span class="sr-only"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!--<a class="navbar-brand" href="#">Logo</a>-->
				<a class="navbar-brand" href="#">Alarm Center</a>
			</div>

			<!-- 个人中心 -->
			<div class="collapse navbar-collapse" id="personal-center">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<span class="fa fa-user fa-fw" style="font-size:16px;"></span>
							<span th:text="${current_user.name}">none</span>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">个人信息</a></li>
							<li><a id="logout" href="#">注销</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<nav class="navbar mg0"></nav>
	
	<!-- 菜单栏 -->
	<nav class="menu navbar navbar-vertical-left mg0">
		<ul class="nav navbar-nav">
			<li>
				<a class="page-item" _val="home" href="#">
					<i class="fa fa-home fa-fw icon-size"></i>
					<span class="icon-desc">首页</span>
				</a>
			</li>
			<li>
				<a class="page-item" _val="user" href="#">
					<i class="fa fa-user fa-fw icon-size"></i>
					<span class="icon-desc">用户</span>
				</a>
			</li>
			<li>
				<a class="page-item" _val="project" href="#">
					<i class="fa fa-tasks fa-fw icon-size"></i>
					<span class="icon-desc">项目</span>
				</a>
			</li>
			<li>
				<a class="page-item" _val="module" href="#">
					<i class="fa fa-cubes fa-fw icon-size"></i>
					<span class="icon-desc">项目模块</span>
				</a>
			</li>
			<li>
				<a class="page-item" _val="member" href="#">
					<i class="fa fa-group fa-fw icon-size"></i>
					<span class="icon-desc">项目成员</span>
				</a>
			</li>
			<li>
				<a class="page-item" _val="group" href="#">
					<i class="fa fa-send fa-fw icon-size"></i>
					<span class="icon-desc">接收组</span>
				</a>
			</li>
			<li>
				<a class="page-item" _val="alarm" href="#">
					<i class="fa fa-bell fa-fw icon-size"></i>
					<span class="icon-desc">告警</span>
				</a>
			</li>
			<li>
				<a class="page-item" _val="log" href="#">
					<i class="fa fa-book fa-fw icon-size"></i>
					<span class="icon-desc">告警日志</span>
				</a>
			</li>
		</ul>
	</nav>

	<!-- 首页 -->
	<div class="page">
		<div class="panel-header">
			<b>告警中心 > 首页</b>
			<a class="btn fright cr-blue" href="javascript:location.replace(location.href);" data-toggle="tooltip" data-placement="bottom" title="刷新">
				<span class="fa fa-refresh fa-fw"></span>
			</a>
		</div>

		<div class="panel-content">
			<div id="channel-status" style="width:48%; height:350px;" class="fleft"></div>
			<div id="throughput-status" style="width:48%; height:350px;" class="fright"></div>

			<table class="table table-bordered">
				<caption style="text-align:center; font-size:16px; font-weight:bold; color:black; margin-top:30px;">发送端推送量</caption>
				<thead style="background-color:#fafafa;">
					<tr>
						<th></th>
						<th>mail</th>
						<th>sms</th>
						<th>qq</th>
						<th>wechat</th>
					</tr>
				</thead>
				<tbody class="sending-quantity" style="background-color:white;">
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>