<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>项目/模块</title>

	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/base.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/select2.min.css}"/>
	
	<script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
	<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
	<script th:src="@{/js/select2.min.js}" type="text/javascript"></script>
	<script th:src="@{/js/base.js}" type="text/javascript"></script>
	<script th:src="@{/js/project-module.js}" type="text/javascript"></script>
</head>
<body>

	<!-- 导航 -->
	<nav class="navbar navbar-default navbar-fixed-top mg0 bg-white" role="navigation">
		<div class="container-fluid">
			<!-- logo -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#personal-center">
					<span class="sr-only"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Logo</a>
				<a class="navbar-brand" href="#">Alarm Center</a>
			</div>

			<!-- 个人中心 -->
			<div class="collapse navbar-collapse" id="personal-center">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<span class="fa glyphicon glyphicon-user"></span>
							caijt@jpush.cn
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">个人信息</a></li>
							<li><a href="#">注销</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<nav class="navbar mg0"></nav>
	
	<!-- 菜单栏 -->
	<nav class="menu navbar navbar-vertical-left mg0">
		<ul class="nav navbar-nav">
			<li>
				<a class="page-item" _val="home" href="#">
					<i class="fa glyphicon glyphicon-home icon"></i>
					<span class="icon-desc">首页</span>
				</a>
			</li>
			<li>
				<a class="page-item" _val="alarm" href="#">
					<i class="fa glyphicon glyphicon-bell icon"></i>
					<span class="icon-desc">告警配置</span>
				</a>
			</li>
			<li>
				<a class="page-item" _val="project" href="#">
					<i class="fa glyphicon glyphicon-tasks icon"></i>
					<span class="icon-desc">项目/模块</span>
				</a>
			</li>
			<li>
				<a class="page-item" _val="receiver" href="#">
					<i class="fa glyphicon glyphicon-user icon"></i>
					<span class="icon-desc">接收人</span>
				</a>
			</li>
			<li>
				<a class="page-item" _val="group" href="#">
					<i class="fa glyphicon glyphicon-user icon"></i>
					<span class="icon-desc">接收组</span>
				</a>
			</li>
			<li>
				<a class="page-item" _val="log" href="#">
					<i class="fa glyphicon glyphicon-list-alt icon"></i>
					<span class="icon-desc">告警日志</span>
				</a>
			</li>
		</ul>
	</nav>

	<!-- 项目/模块 -->
	<div class="page">
		<div class="panel-header">
			<b>告警中心 > 项目/模块</b>
			<a class="btn fright cr-blue" href="javascript:location.replace(location.href);" data-toggle="tooltip" data-placement="bottom" title="刷新">
				<span class="glyphicon glyphicon-refresh"></span>
			</a>
		</div>

		<div class="panel-content">
			<div class="option">
				<span class="fleft">
					<a class="btn cr-yellow" data-toggle="modal" data-target="#modal-project-add"><span class="glyphicon glyphicon-plus"></span> 新建</a>
				</span>
			</div>

			<div style="width:49%; height:450px;" class="fleft">
				<table class="table table-bordered table-hover">
					<caption class="caption-border">
						<span>项目</span>
						<span class="fright table-total-size"></span>
					</caption>
					<tbody class="projects-body" style="background:white;">
					</tbody>
				</table>
			</div>

			<div style="width:49%; height:450px;" class="fright">
				<div>
					<table class="table table-bordered table-hover">
						<thead>
						<tr>
							<th>
								<span class="form-inline fright">
									<form>
										<input id="module-name" class="form-control" type="text" placeholder="添加新模块"/>
										<button id="module-add" type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="添加" style="height:32px; background:#1CCACC; color:white;">
											<span class="glyphicon glyphicon-plus"></span>
										</button>
									</form>
								</span>
							</th>
						</tr>
						<tr>
							<th>模块</th>
						</tr>
						</thead>
					</table>
				</div>
				<div style="margin-top:-22px; margin-bottom:20px; overflow-y:auto; max-height:370px;">
					<table class="table table-bordered table-hover">
						<tbody class="modules-body" style="background:white;">
						</tbody>
					</table>
				</div>

			</div>

			<div class="fright page-footer"></div>
		</div>
	</div>

	<!-- 项目创建模态框 -->
	<div class="modal fade modal-create" id="modal-project-add" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="title">项目创建</div>
				<div class="body">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label class="col-md-3 control-label">项目:</label>
							<div class="col-md-8">
								<input id="project-name" class="form-control" type="text" placeholder="请输入项目名称"/>
							</div>
						</div>

						<div style="text-align:right; padding-right:50px;">
							<button id="project-add" type="button" class="btn btn-info" data-dismiss="modal">保存</button>　
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- 项目删除模态框 -->
	<div class="modal fade modal-delete" id="modal-project-del" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="title">项目删除</div>
				<div class="body">
					<form class="form-horizontal" role="form">
						<div class="form-group" style="text-align:center">
							<label>是否确认删除该项目？</label>
						</div>
						<div style="text-align:right; padding-right:50px;">
							<button id="project-del" type="button" class="btn btn-info" data-dismiss="modal">确定</button>　
							<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- 模块删除模态框 -->
	<div class="modal fade modal-delete" id="modal-module-del" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="title">项目删除</div>
				<div class="body">
					<form class="form-horizontal" role="form">
						<div class="form-group" style="text-align:center">
							<label>是否确认删除该模块？</label>
						</div>
						<div style="text-align:right; padding-right:50px;">
							<button id="module-del" type="button" class="btn btn-info" data-dismiss="modal">确定</button>　
							<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>