<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>项目</title>

    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/select2.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/base.css}"/>

    <script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/select2.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/base.js}" type="text/javascript"></script>
    <script th:src="@{/js/project.js}" type="text/javascript"></script>
</head>
<body>

    <!-- 导航 -->
    <nav class="navbar navbar-default navbar-fixed-top mg0 bg-white" role="navigation">
        <div class="container-fluid">
            <!-- logo -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#personal-center">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<a class="navbar-brand" href="#">Logo</a>-->
                <a class="navbar-brand" href="#">Alarm Center</a>
            </div>

            <!-- 个人中心 -->
            <div class="collapse navbar-collapse" id="personal-center">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="fa fa-user fa-fw" style="font-size:16px;"></span>
                            <span th:text="${current_user.name}">none</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">个人信息</a></li>
                            <li><a id="logout" href="#">注销</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar mg0"></nav>

    <!-- 菜单栏 -->
    <nav class="menu navbar navbar-vertical-left mg0">
        <ul class="nav navbar-nav">
            <li>
                <a class="page-item" _val="home" href="#">
                    <i class="fa fa-home fa-fw icon-size"></i>
                    <span class="icon-desc">首页</span>
                </a>
            </li>
            <li>
                <a class="page-item" _val="user" href="#">
                    <i class="fa fa-user fa-fw icon-size"></i>
                    <span class="icon-desc">用户</span>
                </a>
            </li>
            <li>
                <a class="page-item" _val="project" href="#">
                    <i class="fa fa-tasks fa-fw icon-size"></i>
                    <span class="icon-desc">项目</span>
                </a>
            </li>
            <li>
                <a class="page-item" _val="module" href="#">
                    <i class="fa fa-cubes fa-fw icon-size"></i>
                    <span class="icon-desc">项目模块</span>
                </a>
            </li>
            <li>
                <a class="page-item" _val="member" href="#">
                    <i class="fa fa-group fa-fw icon-size"></i>
                    <span class="icon-desc">项目成员</span>
                </a>
            </li>
            <li>
                <a class="page-item" _val="group" href="#">
                    <i class="fa fa-send fa-fw icon-size"></i>
                    <span class="icon-desc">接收组</span>
                </a>
            </li>
            <li>
                <a class="page-item" _val="alarm" href="#">
                    <i class="fa fa-bell fa-fw icon-size"></i>
                    <span class="icon-desc">告警</span>
                </a>
            </li>
            <li>
                <a class="page-item" _val="log" href="#">
                    <i class="fa fa-book fa-fw icon-size"></i>
                    <span class="icon-desc">告警日志</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- 项目 -->
    <div class="page">
        <div class="panel-header">
            <b>告警中心 > 项目</b>
            <a class="btn fright cr-blue" href="javascript:location.replace(location.href);" data-toggle="tooltip" data-placement="bottom" title="刷新">
                <i class="fa fa-refresh fa-fw"></i>
            </a>
        </div>

        <div class="panel-content">
            <div class="option">
                <span class="fleft">
                    <a class="btn cr-yellow" data-toggle="modal" data-target="#modal-project-create">
                        <i class="fa fa-plus"></i> 新建
                    </a>
                </span>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <caption class="caption-border">
                        <span>项目列表</span>
                        <span class="fright table-total-size"></span>
                    </caption>
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>项目名称</th>
                        <th>创建人</th>
                        <th>创建时间</th>
                        <th>备注</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody class="project-list" style="background:white;">
                    </tbody>
                </table>
            </div>

            <div class="fright page-footer"></div>
        </div>
    </div>

    <!-- 项目新建模态框 -->
    <div class="modal fade modal-create" id="modal-project-create" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="title">新建项目</div>
                <div class="body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-md-3 control-label"><b style="color:red;">* </b>项目名称：</label>
                            <div class="col-md-8">
                                <input id="project-name" class="form-control" type="text" placeholder="请输入项目名称"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">备注：</label>
                            <div class="col-md-8">
                                <input id="project-comment" class="form-control" type="text" placeholder="请输入备注信息"/>
                            </div>
                        </div>
                    </form>
                    <div style="text-align:center; padding-top:20px;">
                        <button id="project-create" type="button" class="btn btn-info" data-dismiss="modal">保存</button>　
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 项目更新模态框 -->
    <div class="modal fade modal-create" id="modal-project-update" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="title">编辑项目</div>
                <div class="body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-md-3 control-label"><b style="color:red;">* </b>项目名称：</label>
                            <div class="col-md-8">
                                <input id="project-name-update" class="form-control" type="text" placeholder="请输入项目名称"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">备注：</label>
                            <div class="col-md-8">
                                <input id="project-comment-update" class="form-control" type="text" placeholder="请输入备注信息"/>
                            </div>
                        </div>
                    </form>
                    <div style="text-align:center; padding-top:20px;">
                        <button id="project-update" type="button" class="btn btn-info">保存</button>　
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 项目删除模态框 -->
    <div class="modal fade modal-delete" id="modal-project-del" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="title">删除项目</div>
                <div class="body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group" style="text-align:center">
                            <label>是否确认删除该项目？</label>
                        </div>
                        <div style="text-align:center; padding-top:20px;">
                            <button id="project-del" type="button" class="btn btn-info">确定</button>　
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="current-id"></div>
</body>
</html>